/************************************/
/*             UTILITIES            */
/************************************/
@use "./../abstracts/mixins";

.container {
  max-width: 140rem;
  margin: 0rem auto;
  padding: 0 5rem;
  background-color: var(--color-grey-light-1);

  @media (max-width: 62.2em) {
    // padding: 0 2.5rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.d-block {
  display: block;
  padding-bottom: 1.6rem;
}

.text-center {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: inherit;
}

.p-y {
  padding: 3rem 0;
}

.m-y {
  margin: 1.6rem 0;
}

.error-message {
  font-size: inherit;
  font-weight: inherit;
  color: var(--color-secondary);
}

.icon-1x {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  color: var(--color-primary);
}

.login-btn {
  background: var(--bg-gradient);
  border: 1px solid var(--color-secondary);
  @include mixins.title;
}

// .p-1x {
//   padding: 0.8rem 1.6rem;
// }

.text-color {
  color: var(--color-secondary);
}

.text-bold {
  font-weight: 700;
}

.text-2x {
  font-size: var(--text-h5);
}

.color-title {
  @include mixins.title;
}

.g-col-1 {
  display: grid;
  grid-template-columns: 1fr;
}
