.toys {
  background: var(--color-white) !important;
  &__wrap {
    padding: 6rem 0;
  }

  &__lists-header {
    font-size: var(--text-1x);
    text-transform: uppercase;
    font-weight: bold;
    background: var(--bg-gradient);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    border-radius: var(--radius);
    border: 1px solid var(--color-grey-light-4);
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3.2rem;
    align-items: center;
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-grey-light-4);
  }

  // Search
  .search {
    width: 50%;
    margin: 3rem auto;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-self: center;

    @media (max-width: 62.5em) {
      display: none;
    }

    &__input {
      font-family: inherit;
      font-size: var(--text-1x);
      font-weight: 600;
      color: var(--color-grey-dark-1);
      background-color: var(--color-grey-light-2);
      border: none;
      padding: 1rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all 0.2s;
      margin-right: -3.25rem;

      &:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3);
      }

      &::-webkit-input-placeholder {
        font-weight: 300;
      }
    }

    &__input:focus + &__btn {
      background-color: var(--color-grey-light-3);
    }

    &__btn {
      border: none;
      background-color: var(--color-grey-light-2);
      &:focus {
        outline: none;
      }
      &:active {
        transform: translateY(2px);
      }
    }

    &__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-grey-dark-3);
    }
  }
}
