@use "./../../sass/abstracts/mixins";

.spinner {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  overflow: hidden;
  // @include mixins.bg-linear-gradient;

  &__icon {
    height: 6rem;
    width: 6rem;
    fill: var(--color-grey-light-4);
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
