@use "./../../../sass/abstracts/mixins";

.btn {
  width: 100%;
  font-size: var(--text-h5);
  font-weight: 700;
  color: var(--color-white);
  padding: 1.2rem 3rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  @include mixins.bg-linear-gradient;
}

.btn:disabled {
  cursor: not-allowed;
  background: var(--bg-gradient);
}
