@use "./../../sass/abstracts/mixins";

%before {
  content: "";
  width: 0%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
  @include mixins.bg;
}

.header {
  width: 100%;
  background-color: #fff;
  border-top-left-radius: var(--radius-1x);
  border-top-right-radius: var(--radius-1x);

  &__wrap {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding-top: 3rem;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__nav-lists {
    width: 100%;
    display: flex;
    gap: 3.6rem;
    align-items: center;
    list-style: none;
  }

  &__nav-link {
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;

    @media (max-width: 62.5em) {
      color: var(--color-white);
    }

    &::before {
      @extend %before;
      z-index: 999;
    }

    &:hover::before {
      width: 100%;
    }

    &-active {
      font-size: inherit;
      font-weight: inherit;
      position: relative;
      overflow: hidden;
      z-index: 999;
      @include mixins.title;

      &::before {
        width: 100%;
        @extend %before;
      }
    }
  }

  &__btn {
    font-size: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__login-btn a {
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border: 2px solid var(--color-secondary);
  }

  // User

  &__user-wrap {
    display: flex;
    align-items: center;
  }

  &__user-photo {
    height: 5.5rem;
    border-radius: 10rem;
    margin-right: 1.2rem;
    object-fit: cover;
  }

  //   &__user {
  //     position: relative;
  //     text-transform: uppercase;
  //     font-weight: 700;
  //     @include mixins.title;
  //     margin-right: 1.6rem;
  //     cursor: initial;

  //     @media (max-width: 62.5em) {
  //       display: flex;
  //       flex-direction: column;
  //       margin-top: 2.5rem;
  //       margin-right: 0;
  //     }

  //     .login {
  //       font-size: inherit;
  //       font-weight: inherit;
  //       border: none;
  //       background: none;
  //       cursor: pointer;
  //     }

  //     &-photo {
  //       height: 5.5rem;
  //       border-radius: 10rem;
  //       margin-right: 1rem;
  //       object-fit: cover;
  //     }
  //   }

  //   &__user-wrap {
  //     display: flex;
  //     align-items: center;
  //   }
  // }

  // .error {
  //   height: 100%;
  //   font-size: var(--text-2x);
  //   font-weight: 700;
  //   min-height: 50vh;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 2rem;
  //   padding: 1.2rem 6rem;
  // }

  // .mobile {
  //   display: none;
  //   text-align: right;
  //   z-index: 9999;
  //   padding-right: 1.6rem;

  //   &__icon {
  //     height: 3rem;
  //     width: 3rem;
  //     fill: var(--color-secondary);
  //   }

  //   @media (max-width: 62.5em) {
  //     display: block;
  //   }
}
