@use "./../../sass/abstracts/mixins";

%before {
  content: "";
  width: 0%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
  @include mixins.bg;
}

.header {
  &__wrap {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey-light-1);
    margin-top: 5rem;
    padding: 0 5rem;
    border-top-left-radius: var(--radius-1x);
    border-top-right-radius: var(--radius-1x);
  }

  &__nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-lists {
    width: 90%;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  &__nav-link {
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;

    @media (max-width: 62.5em) {
      color: var(--color-white);
    }

    &::before {
      @extend %before;
      z-index: 999;
    }

    &:hover::before {
      width: 100%;
    }

    &-active {
      font-size: inherit;
      font-weight: inherit;
      position: relative;
      overflow: hidden;
      z-index: 999;
      @include mixins.title;

      &::before {
        width: 100%;
        @extend %before;
      }
    }
  }

  &__btn {
    font-size: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__login-btn a {
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border: 2px solid var(--color-secondary);
  }
}
