@use "./../../sass/abstracts/mixins";

%before {
  content: "";
  width: 0%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
  @include mixins.bg;
}

.header {
  width: 100%;
  background-color: #fff;
  border-top-left-radius: var(--radius-1x);
  border-top-right-radius: var(--radius-1x);
  position: relative;

  @media (max-width: 62.5em) {
    border-radius: 0;
  }

  &__wrap {
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem 0;

    @media (max-width: 62.5em) {
      margin-top: 0rem;
    }
  }

  &__logo {
    a {
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__nav-lists {
    width: 100%;
    display: flex;
    gap: 3.6rem;
    align-items: center;
    list-style: none;

    @media (max-width: 62.5em) {
      flex-direction: column;
      position: absolute;
      top: 6rem;
      left: 0;
      @include mixins.bg;
      padding: 5rem;
      overflow: hidden;

      opacity: 0;
      pointer-events: none;
      transition: all 0.5s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    &-active {
      top: 12rem;
      opacity: 100;
      z-index: 99999;
      pointer-events: initial;
    }
  }

  &__nav-link {
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;

    @media (max-width: 62.5em) {
      color: var(--color-white);
    }

    &::before {
      @extend %before;
      z-index: 999;
    }

    &:hover::before {
      width: 100%;
    }

    &-active {
      font-size: inherit;
      font-weight: inherit;
      position: relative;
      overflow: hidden;
      z-index: 999;
      @include mixins.title;

      &::before {
        width: 100%;
        @extend %before;
      }
    }
  }

  &__btn {
    font-size: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__login-btn a {
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border: 2px solid var(--color-secondary);
  }

  // User
  &__user-wrap {
    display: flex;
    align-items: center;
  }

  &__user-photo {
    height: 5.5rem;
    border-radius: 10rem;
    margin-right: 1.2rem;
    object-fit: cover;
  }
}

.mobile {
  display: none;
  text-align: right;
  z-index: 9999;
  padding-right: 1.6rem;

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-secondary);
  }

  @media (max-width: 62.5em) {
    display: block;
  }
}
