@use "./../../../../sass/abstracts/mixins";

.hero {
  &__wrap {
    padding: 6rem 0;
    padding-top: 3rem;
  }

  &__fig {
    height: 100%;
    max-height: 57rem;
    position: relative;
    transform-origin: top;
    border-radius: var(--radius-1x);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include mixins.bg-linear-gradient;
      opacity: 0.6;
      border-radius: var(--radius-1x);
    }

    @media (max-width: 62.5em) {
      width: 100%;
      height: 100vh;
    }
  }

  &__img {
    width: 100%;
    max-height: 57rem;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-1x);
  }

  &__content {
    width: 30%;
    position: absolute;
    top: 48rem;
    left: 26%;
    transform: translate(-26%, -50%) skewY(-7deg);
    color: #fff;
    text-align: center;
    backface-visibility: hidden;

    @media (max-width: 62.5em) {
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) skewY(-7deg);
    }

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      @include mixins.bg-linear-gradient;
      border-radius: 3px;

      @media (max-width: 62.5em) {
        padding: 0.8rem 1rem;
      }
    }
  }

  &__title {
    font-size: var(--text-h1);
    line-height: 1.95;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 2.5rem;
  }

  &__btn {
    background: none;
    border: none;
    margin-top: 2.5rem;
    cursor: pointer;

    a {
      color: var(--color-white);
      text-decoration: none;
    }
  }
}
