.addToy {
  background-color: var(--color-grey-light-3) !important;
  &__wrap {
    padding: 9rem 0;
  }

  &__title {
    background-color: var(--color-grey-light-3);
  }

  &__form {
    margin-top: 6rem;
  }
}
